<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Document</title>
</head>
<body>
    <!-- nav stays here -->
    <%- include('./partials/nav')%>
    <div class="container-fluid desktop_nav">
    <div class="row">
        <div class="col-3 box">
            <img src="logo.jpg" width="150px" height="150px">
        </div>
        <div class="col-9 box fles top">
            <a href="/"><h6>HOME</h6></a>
            <h6><a href="/gallery"> GALLERY</a></h6>
           <a href="/portfolio"><h6>PORTFOLIO</h6></a>
           <a href="/blog"><h6>BLOG</h6></a>
           <a href="/about"><h6>ABOUT</h6></a>
           <a href="/contact"><h6>CONTACT</h6></a>
            <button class="btn btn-block book" disabled><a href="/booking">Book Online</a></button>
        </div>
    </div>
</div>
    <%- include('./partials/mobile_nav')%>
    <%- include('./partials/register')%>
    <div class="container-fluid blog arrange_book">
        <div class="row booking">
            <div class="col-12 book_head">
                <button class="set active">Set Appointment</button>
                <!-- <p class="display">select either 'select appointment' or 'home service'</p> -->
                <button class="display" disabled>select either 'select appointment' or 'home service'</button>
                <button class="home">Home service</button>
            </div>
            <div class="row">
                <div class="col-6">
                    <select name="style" id="style">
                        <option value="0">Select HairCut</option>
                        <option value="1">Round Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                        <option value="2">Afro Cut</option>
                    </select>
                </div>
                <div class="col-6">
                    <div>
                        <img src="images/pic3.jpg" class="img-thumbnail" alt="Desired haircut" height="100%" width="100%">
                    </div>
                </div>    
            </div>
            <!-- <label for="wash">Hair Dye</label>
            <input type="radio" name="wash" id="wash">
            <input type="radio" name="" id="" value="No"> -->
        </div>
    </div>
    <%- include('./partials/foot')%>
</body>
</html>