<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Document</title>
</head>
<body>
    <!-- nav stays here -->
    <%- include('./partials/nav')%>
    <div class="container-fluid desktop_nav">
    <div class="row">
        <div class="col-3 box">

        </div>
        <div class="col-9 box fles top">
            <a href="/"><h6>HOME</h6></a>
            <h6><a href="/gallery"> GALLERY</a></h6>
           <a href="/portfolio"><h6>PORTFOLIO</h6></a>
           <a href="/blog"><h6>BLOG</h6></a>
           <a href="/about"><h6>ABOUT</h6></a>
           <a href="/contact"><h6>CONTACT</h6></a>
            <a href="/booking"><button class="btn btn-block book active">Book Online</button></a>
        </div>
    </div>
</div>
    <%- include('./partials/mobile_nav')%>
    <%- include('./partials/register')%>
    <div class="container-fluid blog arrange_book">
        <div class="row booking">
            <div class="col-12 book_head">
            <h1><%=info.firstname%></h1>
            <h1><%=info.lastname%></h1>
            <h1><%=info.email%></h1>
            <h3><%=info.warning%></h3>
            </div>
        </div>
    </div>
    <%- include('./partials/foot')%>
</body>
</html>